<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="author" content="Juan C. Paniagua R.">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="../imgs/target.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="../imgs/target.png" type="image/x-icon">
    <title>Archery Game</title>
    <link rel="stylesheet" href="../css/archery.css">
    <script src="../js/archery.js"></script>
</head>

<body>

    <div id="mainContainer">
        <canvas id="myCanvas"></canvas>
        <canvas id="animCanvas"></canvas>
        <h1 id="score">0</h1>
        <div id="showPoint">
            <div id="timerDiv"></div>
            <p id="arrs">&uarr;</p><span class="u">&uarr; +4</span>

        </div>
       
        <div id="startMenu">
            <h1 id="title"><span style="font-size:60px">A</span>RCHERY<br><span style="font-size:60px">G</span>AME</h1>
            <button>TAP TO START</button>
            <h2><span id="best">0</span><br>Best</h2>
             <a href="../index.html">Exit</a>
        </div>
    </div>
</body>

</html>
