<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="author" content="Juan C. Paniagua R.">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="../imgs/snake.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="../imgs/snake.png" type="image/x-icon">
    <title>lets go</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/snake.css">
   
</head>

<body>
    <a href="../index.html" >Exit</a>
  <div class="score">0</div>
<div class="stage"></div>

 <script src="../js/snake.js"></script> 
</body>

</html>
